<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

    </body>
    <form>
        <input type="text" id="q" placeholder="search" value="Q23501">
        <button id="lookup">lookup</button>
        <progress id="progress"></progress>
    </form>
    <div id="results">
        <div id="result">
            <h2>label</h2>
            <p class="image"><img src=""></p>
            <div class="props">
                <details class="prop" open>
                    <summary>property</summary>
                    <ul class="values"></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
