<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello {{ template_placeholder }}!</title>
</head>
<body>
  <!-- {{ template_placeholder }} is replaced by the value of the keyword
    argument provided to the render call in the python script -->
  Hello {{ template_placeholder }}!
</body>
</html>