<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paged.js document</title>
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  <!-- It is of course completely possible to insert a local js file -->
  <link rel="stylesheet" href="pagedjs-interface.css">
  <!-- The template will be rendered in a different folder. Make sure the path
       to the css file still works! -->
</head>
<body>
  Hello {{ template_placeholder }}!
  <!-- {{ template_placeholder }} is replaced by the value of the keyword
       argument provided to the render call in the python script -->
</body>
</html>